/*
    Rekasator
*/
button.btn-collapse {
    span.caret {
        transform: rotate(180deg);
    }

    &.collapsed span.caret {
        transform: rotate(0deg);
    }
}




div.columns {
    label.checkbox-inline {
        min-width: 70px;
        width: 5%;
        padding: 2px 0px 2px 30px;
        margin: 2px 1% 5px 0px;

        background-color: lighten(@my-lblue, 25%);
        cursor: pointer;
        border:1px solid #CCC;
        border-radius:7px;
        font-size:18px;
        line-height:21px;
        color:#666;

        & + .checkbox-inline {
            margin-left:0px;
        }

        &:hover{
            box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset;
            background-color: lighten(@my-lblue, 15%);
            border:1px solid #AAA;
            color:#444;
        }

        &.checked {
            background-color: @my-lblue;
            color:#222;
            border-color:#666;
        }
    }
}

#rekasator-resultats {
    .form-control-static {
        padding-left:0px;
        padding-top:12px;
    }


    .lecon {
        label {
            .make-md-column(2);
            padding-right:0px !important;
        }


        div {
            .make-md-column(10);

            p {
                margin-left:-8px;
                margin-bottom:0px;
                padding:11px 16px;
                padding-left:0px;
                min-height:38px;
                font-size:18px;
                line-height:1.333333;
                font-weight:bold;
            }

            ul {
                padding-left:0px;

                li {
                    list-style-type: none;

                    a {
                        @full-block();
                        color:black;
                        font-size:16px;

                        span.display-rating {
                            font-size:15px;
                        }
                    }
                }
            }
        }

        &.not-covered {
            label, div p {
                color:red;
            }
        }
    }
}
