@my-dblue:#8BADBD;
@my-lblue:#9BC0D2;
@my-green:#8FBD56; //#BEE672;
@my-lgreen:#C0DA9F;
@my-mgreen:darken(@my-lgreen, 12%);
@my-yellow:#F9D94F;
@my-lyellow:#FFED9D;
@my-orange:#FF812F;
@my-dgrey:#2A2B2C;
@my-lgrey:#777;
@my-llgrey:#F9F9F9;
@my-lred:lighten(#FF5757, 8%);

@alert-padding: 10px;

@jumbotron-bg: @my-lblue;
@jumbotron-padding: 20px;

/*##### Navbar #####*/
@grid-float-breakpoint:@screen-desktop;
@navbar-base-height: 31px;
@navbar-height: @navbar-base-height + @navbar-li-padding;
@nav-total-height: @navbar-height + @subnavbar-height + @subnavbar-li-vmargin;

@navbar-default-bg: @my-dgrey;
@navbar-default-border: @my-dgrey;
@navbar-default-color: white;

@navbar-li-border-radius:6px;
@navbar-li-padding: 4px;

@navbar-default-link-color: white;
@navbar-default-link-active-color: black;
@navbar-default-link-hover-color: black;
@navbar-default-link-hover-bg: @my-yellow;
@navbar-default-link-active-bg: @my-green;

@navbar-separator-border-color:@navbar-default-border;


/*##### Subnavbar #####*/
@subnavbar-height:30px;
@subnavbar-border:@my-lgrey;
@subnavbar-bg:@my-green;

@subnavbar-li-vmargin:3px;
@subnavbar-li-hmargin:5px;
@subnavbar-li-padding:8px;
@subnavbar-li-border-radius:4px;
@subnavbar-li-line-height:23px;
@subnavbar-li-height: @subnavbar-height - 2*(@subnavbar-li-vmargin);
@subnavbar-li-separator:'>';



/*##### Leçons #####*/
@lecons-nav-bg:@my-lblue;
@lecons-nav-toggle-height:25px;
@lecons-nav-padding-top:2px;
@lecons-nav-li-width:28px;
@lecons-nav-li-height:14px;
@lecons-nav-li-font-size:12px;
@lecons-nav-scroller-padding-top:2px;
@lecons-nav-scroller-border:#222;
@lecons-nav-scroller-size:8px;
@lecons-nav-scroller-shadow-size:2px;
@lecons-nav-scroller-shadow-color:#404F57;

@lecons-nav-width:                    @lecons-nav-ul-width + @lecons-nav-scroller-container-width;
@lecons-nav-ul-width:                 @lecons-nav-li-width + @lecons-nav-scroller-margin;
@lecons-nav-scroller-margin:          @lecons-nav-scroller-size * 1;
@lecons-nav-scroller-container-width: @lecons-nav-scroller-margin + 1;


@lecons-content-space:12px;
@lecons-content-title-height:30px;
@lecons-content-title-line-height:25px;
@lecons-content-title-bg:@my-lgreen;
@lecons-content-title-border: #666;
@lecons-content-title-border-radius:5px;
@lecons-content-title-font-size:18px;
@lecons-content-title-pill-width:44px;


/*##### Développements #####*/
@kiviat-lecons-flex:2;
@kiviat-lecons-h3-height:35px;
@kiviat-lecons-h3-line-height:37px;
@kiviat-lecons-h3-font-size:20px;
@kiviat-lecons-li-width:40px;
@kiviat-lecons-li-full-width:54px;
@kiviat-lecons-li-height:20px;
@kiviat-lecons-li-line-height:15px;
@kiviat-lecons-li-font-size:16px;
@kiviat-lecons-li-vmargin:3px;
@kiviat-lecons-li-indent:5px;
@kiviat-lecons-li-border-radius:10px;

@kiviat-canvas-flex:5;
@kiviat-canvas-size:500px;

@kiviat-developpements-flex:7;
@kiviat-developpements-scroller-size:7px;
@kiviat-developpements-scroller-width:6px;
@kiviat-developpements-li-height:27px;
@kiviat-developpements-li-line-height:30px;
@kiviat-developpements-li-font-size:18px;
@kiviat-developpements-li-indent:7px;
