@font-face {
	font-family: 'ComputerModernSans';
	src: url('../fonts/CMSans/cmunss.eot');
	src: url('../fonts/CMSans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CMSans/cmunss.woff') format('woff'),
		 url('../fonts/CMSans/cmunss.ttf') format('truetype'),
		 url('../fonts/CMSans/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ComputerModernSans';
	src: url('../fonts/CMSans/cmunsx.eot');
	src: url('../fonts/CMSans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CMSans/cmunsx.woff') format('woff'),
		 url('../fonts/CMSans/cmunsx.ttf') format('truetype'),
		 url('../fonts/CMSans/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'ComputerModernSans';
	src: url('../fonts/CMSans/cmunsi.eot');
	src: url('../fonts/CMSans/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CMSans/cmunsi.woff') format('woff'),
		 url('../fonts/CMSans/cmunsi.ttf') format('truetype'),
		 url('../fonts/CMSans/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'ComputerModernSans';
	src: url('../fonts/CMSans/cmunso.eot');
	src: url('../fonts/CMSans/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CMSans/cmunso.woff') format('woff'),
		 url('../fonts/CMSans/cmunso.ttf') format('truetype'),
		 url('../fonts/CMSans/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}

