.rating {
  display: block;
  height: 17px;
  margin: auto;
  margin-right: 3px;
  position: relative;
  float: left;
  overflow: hidden;
  font-size: 15px;
}
.rating.rating-scale-1 {
  width: 18px;
}
.rating.rating-scale-2 {
  width: 36px;
}
.rating.rating-scale-3 {
  width: 54px;
}
.rating.rating-scale-4 {
  width: 72px;
}
.rating.rating-scale-5 {
  width: 90px;
}
.rating.rating-scale-1 {
  display: none;
}
.rating .rating-input {
  display: none;
}
.rating .rating-star {
  float: right;
  width: 17px;
  height: 17px;
  padding: 0;
  margin-right: 1px;
  cursor: pointer;
}
.rating .rating-star span {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b3b3b3;
}
.rating .rating-star span:before {
  content: "\e007";
}
.rating .rating-input:checked ~ .rating-star span {
  color: black;
}
.rating .rating-input:checked ~ .rating-star span:before {
  content: "\e006";
}
.rating:hover .rating-input ~ .rating-star span {
  color: #b3b3b3;
}
.rating:hover .rating-input ~ .rating-star span:before {
  content: "\e007";
}
.rating:hover .rating-star:hover span,
.rating:hover .rating-star:hover ~ .rating-star span {
  color: black;
}
.rating:hover .rating-star:hover span:before,
.rating:hover .rating-star:hover ~ .rating-star span:before {
  content: "\e006";
}
/* Styling for displaying rating with stars */
.display-rating .glyphicon-star {
  color: black;
}
.display-rating .glyphicon-star-empty {
  color: #b3b3b3;
}

/*# sourceMappingURL=rating.css.map */
