.switcher {
  float: left;
  position: relative;
  margin-right: 15px;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.switcher input.switcher-checkbox {
  display: none;
}
.switcher label.switcher-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #444444;
  border-radius: 20px;
}
.switcher label.switcher-label span.switcher-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switcher label.switcher-label span.switcher-inner span.switcher-on,
.switcher label.switcher-label span.switcher-inner span.switcher-off {
  display: block;
  width: 50%;
  height: 20px;
  padding: 0;
  float: left;
  line-height: 20px;
  color: white;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.switcher label.switcher-label span.switcher-inner span.switcher-on {
  padding-left: 5px;
  background-color: #DFF0D8;
  color: #3C763D;
}
.switcher label.switcher-label span.switcher-inner span.switcher-off {
  padding-right: 7px;
  padding-top: 1px;
  text-align: right;
  background-color: #F2DEDE;
  color: #A94442;
}
.switcher label.switcher-label span.switcher-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 27px;
  border: 2px solid #999999;
  border-radius: 10px;
  transition: all 0.3s ease-in 0s;
}
.switcher input.switcher-checkbox:checked + label.switcher-label span.switcher-inner {
  margin-left: 0;
}
.switcher input.switcher-checkbox:checked + label.switcher-label span.switcher-switch {
  right: 0px;
}

/*# sourceMappingURL=switcher.css.map */
