@import "bootstrap/bootstrap";
@import "rating.css";
@import "switcher.css";


@gray-lightest: #F8F8F8;


body {
    padding-top:100px;
}

.breadcrumb {
    .navbar();
    .navbar-default();
    .navbar-fixed-top();
    
    background-color:#F5F5F5;
    top:50px;
    z-index:1000;
    min-height:20px;
}


/* Clickable element */
.clickable {
    cursor:pointer;
}


/* Styling of form */
.panel {
    .panel-heading + form {
        .form-horizontal();
        .panel-body();
    }
}


/* Styling for displaying as form */
@display-offset: 2;
@display-offset2: 3;
.display 
{
    /* List display behavior */
    ul {
        .list-group();
    }

    ul li {
        .list-group-item();
        border-width:1px !important;
    }

    .panel ul {
        margin-bottom:0px !important;
    }

    .panel ul li {
        border-width:1px 0px !important;
    }

    .panel ul ul li {
        border-width:1px !important;
    }


    /* Switcher li */
    ul li.on {
        .list-group-item-success();
    }

    ul li.off {
        .list-group-item-danger();
    }


    /* Other components */
    strong {
        .make-md-column(@display-offset);
        text-align: right;
    }

    > div, > form, > ul {
        .make-md-column(12 - @display-offset);
    }

    .display {
        strong {
            .make-md-column(@display-offset2);
        }

        > div, > form, > ul {
            .make-md-column(12 - @display-offset2);
        }
    }
}

.display.panel-footer {
    strong {
        line-height:32px;
    }
}



/* Modal to confirm delete */
#modal-delete {
    .panel-heading {
        border-top-left-radius: inherit; 
        border-top-right-radius: inherit;
    }
}



/* Styling for dataTables */
#resourceTable_wrapper {
    .dataTables_header {
        margin:0;
        padding:5px 0px 0px;
        background-color: @gray-lightest;

        div {
            .make-md-column(6);
            background-color: @gray-lightest;
        }
    }

    .dataTables_footer {
        .clearfix();

        .dataTables_toolbar {
            .make-md-column(3);
        }

        .dataTables_paginate {
            .make-md-column(9);
        }
    }

    td.primary {
        .text-primary();
        font-weight:bold;
    }
}

@import "font-awesome/font-awesome";
@import "others/dataTables.bootstrap.less";
@import "chosen/bootstrap-chosen";
